services:
  server:
    build:
      context: .
    ports:
      - 5000:5000
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    env_file:
      - path: .env
        required: true
    command:  bash -c " alembic upgrade head && flask run --host=0.0.0.0 --port=5000"

    develop:
      watch:
        - path: requirements.txt
          action: rebuild
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=testDB
      - POSTGRES_PASSWORD=testPW
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db-data: