@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-main-color: #0f4162;
    --dark-secondary-color: #1a1a1a;
    --light-main-color: #347190;
    --light-secondary-color: #d0d0d0;
    --light-tertiary-color: #ffffff;
    --background-gradient: linear-gradient(40deg, rgba(17, 65, 100, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(184, 184, 184, 1) 100%);
    --logo-font: "Amiri";
    --buttons-font: "Roboto";
    --serious-font: "Libertinus Serif";
    --playful-font: "Zain"
}