.navbar{
    background-color: var(--light-secondary-color);
}

.logo-text {
    font-family: var(--logo-font), sans-serif;
    font-weight: 700;
    color: var(--dark-main-color);
}

.ab-default{
    background: none;
    background-image: linear-gradient(to right, var(--light-main-color) 50%, var(--dark-main-color) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.3s ease-in-out;
}

.ab-default > *{
    color: var(--light-tertiary-color);
    font-family: var(--buttons-font), sans-serif;
}

.ab-default:hover{
    background-position: left;
}

.ab-default:active{
    transform: scale(0.9);
}

.ab-mt{
    font-size: 1rem;
    font-weight: 700;
}

.ab-ht{
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.2rem;
}

#page-container{
    max-height: calc(100vh - 63px);
}

.bg-images{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro{
    background-image: url("/static/assets/introBI.webp");
    background-attachment: fixed;
}

.blur-container-intro{
    min-height: calc(100vh - 63px);
    background-color: rgba(0, 0, 0, 0.5);
}

.intro-lc{
    background-color: rgba(255, 255, 255, 0.8);
    aspect-ratio: 1 / 1;
}

.intro-logo{
    margin-left: 4%;
    max-width: 150px;
}

.intro-ltb{
    font-size: 3.5rem;
}

.intro-lts{
    font-size: 2.5rem;
}

.slogan{
    font-family: var(--logo-font), sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}

.intro-hc{
    color: var(--light-tertiary-color);
    max-width: 600px;
    font-family: var(--serious-font), serif;
}

.about-us{
    font-family: var(--playful-font), sans-serif;
    background: var(--background-gradient);
}

.au-container{
    max-width: 1300px;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.au-icons-c{
    width: 500px;
}

.au-icons{
    width: 100%;
    height: 100%;
}

.au-text{
    width: 600px;
}

.au-header, .au-ih{
    color: var(--dark-main-color);
}

.au-header-bb{
    border-bottom: 2px solid var(--dark-main-color);
}

.about-us-icon{
    background-image: url("/static/assets/about-us.webp");
}

.our-mission-icon{
    background-image: url("/static/assets/mission.webp");
}

.our-vision-icon{
    background-image: url("/static/assets/vision.webp");
}

.services{
    background-color: var(--dark-main-color);
    font-family: var(--serious-font), sans-serif;
    color: var(--light-tertiary-color);
}
.scc{
    width: 22rem;
}

.service-card{
    background-color: var(--light-tertiary-color);
    border: 0.2rem solid var(--light-tertiary-color);
    width: 100%;
    height: 100%;
}

.service-type-header{
    color: var(--dark-main-color);
}

.service-card-content{
    background-color: var(--light-main-color);
}

.service-icon-container{
    max-width: 8rem;
    padding-top: 2rem;
    margin: auto auto 0 auto;
}

.bi-check{
    color:lawngreen;
}

.why-choose-us{
    background: var(--background-gradient);
    font-family: var(--serious-font), sans-serif;
    color: black;
}

.wcu-icon-container{
    max-width: 6rem;
    animation: zoom 5s infinite;
}

@keyframes zoom {
    0% { scale: 1;}
    50% { scale: 1.2;}
    100% { scale: 1;}
}

.registered-with{
    background-color: black;
    color: white;
    font-family: var(--playful-font), sans-serif;
}

.rw-logos{
    max-width: 40rem;
}

.rw-logo{
    width: 15%;
}

.Frequently-Asked-Questions{
    font-family: var(--serious-font), sans-serif;
}
.accordion-flush{
    width: 100%;
}

.accordion-item{
    width: 100%;
    max-width: 50rem;
    border: 0.1rem solid var(--dark-main-color) !important;
    border-radius: 0.5rem !important;
}

.accordion-header, .accordion-button{
    border-radius: 0.5rem !important;
    border: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 375px) {
    #navbar-container{
        flex-direction: column;
    }

    #page-container{
        max-height: calc(100vh - 105px);
    }

    .blur-container-intro{
        min-height: calc(100vh - 105px);
    }

    .rw-logos{
        flex-wrap: wrap;
    }

    .rw-logo{
        width: 25% !important;
    }
}

@media only screen and (max-width: 600px) {
    .au-container{
        flex-direction: column-reverse;
    }

    .au-icons{
        width: 100%;
        height: 200px;
    }

    .au-text{
        width: 100%;
    }

    .rw-logo{
        width: 20%;
    }
}

@media only screen and (max-width: 900px) {
    .blur-container-intro{
        flex-wrap: wrap;
    }
}