{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/footer.css">
{% endblock %}

{% block content %}
    <nav class="navbar .navbar-expand-lg py-1" id="navbar">
        <div class="container-fluid px-2" id="navbar-container">
        
            <div class="navbar-brand d-flex flex-row align-items-center">
                
                <img src="/static/assets/logo.svg" alt="Arise Consulting Logo" style="width: 45px; height: 45px;">
                
                <div class="container d-flex flex-column align-items-center px-1">
                    <span class="logo-text lh-1 user-select-none">ARISE</span>
                    <span class="logo-text fs-6 lh-1 user-select-none">CONSULTING</span>
                </div>
            
            </div>
            
            <a class="navbar-brand d-flex flex-column align-items-center ab-default m-0 px-2 rounded" href="/apply">
                <span class="lh-1 ab-mt">Apply Now</span>
                <p class="lh-1 ab-ht m-0"><small>Free 30 minutes consultation</small></p>
            </a>

        </div>
    </nav>

    <div class="container-fluid px-0 m-0 d-flex flex-column overflow-y-auto" id="page-container">
        
        <div class="container-fluid px-0 m-0 bg-images" id="intro">
            <div class="container-fluid blur-container-intro d-flex flex-row align-items-center justify-content-center px-3 py-4 gap-5" id="intro-c">
            
                <div class="intro-lc d-flex flex-column align-items-center justify-content-center border border-white rounded p-2 aos exp-in fade-in hidden">
                    
                    <div class="intro-logo">
                        <img src="/static/assets/logo.svg" alt="Arise Consulting Logo" class="img-fluid">
                    </div>
                    
                    <div class="container d-flex flex-column align-items-center px-1 text-center">
                        <span class="logo-text intro-ltb lh-1 user-select-none">ARISE</span>
                        <span class="logo-text intro-lts lh-1 user-select-none">CONSULTING</span>
                    </div>
                    
                    <span class="slogan user-select-none">ACCOUNTANTS AND TAX PRACTIONERS</span>
                </div>
                
                <div class="intro-hc d-flex flex-column align-items-center justify-content-center text-center">
                    <h1 class="display-6 text-uppercase lh-1">World-Class Accountants and Tax Advisors</h1>
                    <span class="fs-5 ">Empowering Business Growth Through Expert Tax, Accounting & Advisory Solutions.</span>
                </div>

            </div>
        </div>

        <div class="container-fluid d-flex flex-column align-items-center px-1 py-5 gap-5 about-us">

            <div class="au-header">
                <h1 class="display-3 lh-1 text-center fw-bold p-0 m-0">About Us</h1>
                <p class="lh-1 text-center fs-4">Get to know us better</p>
            </div>

            <div class="container-fluid d-flex gap-2 au-container">
                <div class="aos-c au-icons-c">
                    <div class="about-us-icon rounded-3 au-icons bg-images aos slide-in-left hidden"></div>
                </div>

                <div class="d-flex flex-column au-text">
                    <h2 class="display-4 fw-bold au-ih au-header-bb lh-1">Who We Are</h2>
                    <p class="lh-1 fs-4">Arise Consulting is a dynamic professional services firm offering tax, accounting, and business advisory solutions. We are committed to supporting entrepreneurs, small to medium enterprises, and growing businesses with practical, compliant, and growth-focused financial services.</p>
                </div>

            </div>
            
            <div class="container-fluid d-flex flex-reverse gap-2 au-container">
                <div class="aos-c au-icons-c">
                    <div class="our-mission-icon rounded-3 au-icons bg-images aos slide-in-right hidden"></div>
                </div>

                <div class="d-flex flex-column au-text">
                    <h2 class="display-4 fw-bold au-ih au-header-bb lh-1 text-end">Our Mission</h2>
                    <p class="lh-1 fs-4">To support businesses with expert tax, accounting, and advisory services that promote compliance, profitability, and sustainable growth. We are committed to delivering tailored financial solutions, empowering our clients to make informed decisions and thrive in a dynamic business environment.</p>
                </div>

            </div>
            
            <div class="container-fluid d-flex gap-2 au-container">
                <div class="aos-c au-icons-c">
                    <div class="our-vision-icon rounded-3 au-icons bg-images aos slide-in-left hidden"></div>
                </div>

                <div class="d-flex flex-column au-text">
                    <h2 class="display-4 fw-bold au-ih au-header-bb lh-1">Our Vision</h2>
                    <p class="lh-1 fs-4">To be a trusted partner for entrepreneurs and businesses across South Africa and beyond—delivering excellence in financial management, driving strategic growth, and enabling long-term success.</p>
                </div>

            </div>
            
        </div>

        <div class="container-fluid d-flex flex-column align-items-center justify-content-center m-0 px-1 py-5 gap-5 services">
            <div class="services-header-container justify-content-center align-items-center d-flex flex-column text-center">
                <h1 class="display-5 lh-1 servces-header fw-bold">We Provide Exceptional Services</h1>
                <span class="fs-5 lh-1">We offer a range of services to help your business thrive, so you stay complient and stay focused on growth</span>
            </div>

            <div class="container-fluid d-flex align-items-stretch justify-content-center flex-wrap service-cards gap-4">
                <div class="aos-3d-c scc">
                    <div class="d-flex flex-column service-card rounded-3 aos flip-left hidden">
                        <h2 class="fs-2 lh-1 fw-bold service-type-header text-center mx-1 my-3">Tax Services</h2>
                        
                        <div class="d-flex flex-column service-card-content flex-grow-1 rounded p-2">
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>VAT, PAYE, Income Tax Submissions</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>SARS Compliance & Dispute Resolution</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Tax Planning & Advisory</span>
                            <div class="service-icon-container">
                                <img class="service-icon img-fluid" src="/static/assets/tax.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="aos-3d-c scc">
                    <div class="d-flex flex-column service-card rounded-3 aos flip-right hidden">
                        <h2 class="fs-2 lh-1 fw-bold service-type-header text-center mx-1 my-3">Accounting Services</h2>
                        
                        <div class="d-flex flex-column service-card-content flex-grow-1 rounded p-2">
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Bookkeeping</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Financial Statement Preparation</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Payroll Administration</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Budgeting, Cash Flow & Forecasting</span>
                            <div class="service-icon-container">
                                <img class="service-icon img-fluid" src="/static/assets/budget.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="aos-3d-c scc">
                    <div class="d-flex flex-column service-card rounded-3 aos flip-down hidden">
                        <h2 class="fs-2 lh-1 fw-bold service-type-header text-center mx-1 my-3">Business Consulting</h2>
                        
                        <div class="d-flex flex-column service-card-content flex-grow-1 rounded p-2">
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Internal Controls & Risk Management</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>B-BBEE Advisory & Verification Support</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>Business Process Improvement</span>
                            <span class="d-flex flex-row gap-1"><i class="bi bi-check"></i>CIPC Registrations & Compliance</span>
                            <div class="service-icon-container">
                                <img class="service-icon img-fluid" src="/static/assets/consultant.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex flex-column align-items-center justify-content-center m-0 px-1 py-5 gap-4 why-choose-us">
            <div class="wcu-icon-container">
                <img src="/static/assets/question.png" class="img-fluid" alt="Why Choose Us icon"/>
            </div>
            
            <h1 class="display-5 lh-1 fw-bold text-center">Why Choose Arise Consulting?</h1>
            
            <ul>
                <li class="fs-4 lh-1"><span class="fw-bold">Integrity</span> - We uphold the highest ethical standards.</li>
                <li class="fs-4 lh-1"><span class="fw-bold">Excellence</span> - Precision and quality in every engagement.</li>
                <li class="fs-4 lh-1"><span class="fw-bold">Client-Centric</span> - We tailor our services to your unique business needs.</li>
                <li class="fs-4 lh-1"><span class="fw-bold">Innovation</span> - Embracing smart solutions for modern challenges.</li>
                <li class="fs-4 lh-1"><span class="fw-bold">Accountability</span> - We deliver on our promises.</li>
                <li class="fs-4 lh-1"><span class="fw-bold">Growth-Focused</span> - We care about your long-term success.</li>
            </ul>
        </div>
        
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center m-0 px-1 py-3 gap-1 registered-with">
            <h1 class="fs-4 lh-1 fw-bold text-center">We Are Proudly Registered With</h1>
            
            <div class="d-flex justify-content-around gap-1 rw-logos">
                <img src="/static/assets/ciba.svg" alt="CIBA Logo" class="rw-logo">
                <img src="/static/assets/sage.svg" alt="SAGE Logo" class="rw-logo">
                <img src="/static/assets/sait.svg" alt="SAIT Logo" class="rw-logo">
                <img src="/static/assets/sars.svg" alt="SARS Logo" class="rw-logo">
            </div>
        </div>

        <div class="container-fluid d-flex flex-column align-items-center justify-content-center m-o px-1 py-5 gap-5 Frequently-Asked-Questions">
            <div class="FAQ-Header d-flex flex-column text-center">
                <h1 class="display-6 lh-1 fw-bold">Frequently Asked Questions</h1>
                <span class="fs-6 lh-1 m-0">Here are some common questions we get</span>
            </div>

            <div class="accordion accordion-flush d-flex flex-column gap-4 align-items-center" id="FAQS">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ1-text" aria-expanded="false" aria-controls="FAQ1-text">
                            1. What documents do I need to provide for tax filing?
                        </button>
                    </h2>
                    <div id="FAQ1-text" class="accordion-collapse collapse" data-bs-parent="#FAQS">
                        <div class="accordion-body">
                            You'll need your ID, IRP5(s), bank statements, proof of income and expenses, medical aid certificates, retirement annuity contributions, and any supporting documents for deductions or allowances.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ2-text" aria-expanded="false" aria-controls="FAQ2-text">
                            2. How can your firm help me save on taxes?
                        </button>
                    </h2>
                    <div id="FAQ2-text" class="accordion-collapse collapse" data-bs-parent="#FAQS">
                        <div class="accordion-body">
                            We identify legal deductions, rebates, and incentives based on your business or personal profile. Our strategic tax planning ensures you pay only what’s required — nothing more.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ3-text" aria-expanded="false" aria-controls="FAQ3-text">
                            3. What's the difference between an accountant and a bookkeeper?
                        </button>
                    </h2>
                    <div id="FAQ3-text" class="accordion-collapse collapse" data-bs-parent="#FAQS">
                        <div class="accordion-body">
                            A bookkeeper records day-to-day transactions, while an accountant interprets that data to prepare financial statements, give advice, and ensure compliance with SARS and other regulations.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ4-text" aria-expanded="false" aria-controls="FAQ4-text">
                            4. Why is regular financial reporting important for my business?
                        </button>
                    </h2>
                    <div id="FAQ4-text" class="accordion-collapse collapse" data-bs-parent="#FAQS">
                        <div class="accordion-body">
                            Monthly or quarterly reporting gives you insight into your cash flow, profitability, and tax obligations. It helps you make informed decisions and avoid financial surprises.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ5-text" aria-expanded="false" aria-controls="FAQ5-text">
                            5. Do I really need an accountant if I use accounting software?
                        </button>
                    </h2>
                    <div id="FAQ5-text" class="accordion-collapse collapse" data-bs-parent="#FAQS">
                        <div class="accordion-body">
                            Yes. Software helps record transactions, but an accountant ensures accuracy, compliance, strategic insights, and can represent you in audits or with SARS if needed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        {% include "footer.html" %}
    </div>
{% endblock %}